.geo {
    &-row {
        margin-top: 62px;
        margin-bottom: 65px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-col {
        width: 370px;
    }
    &-city {
        color: #575153;
        font-size: 18px;
        text-transform: uppercase;
    }
    &-title {
        color: #727272;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 30px;
    }
    &-descr {
        color: #8e8c8c;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 15px;
        &-second {
            margin-bottom: 30px;
        }
    }
    &-button {
        margin-top: 30px;
        width: 218px;
        height: 59px;
        border: 1px solid #737373;
        color: #454647;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        transition: 0.3s all;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transition: 0.3s all;
            color: #f8f8f8;
            background-color: #00c8c8;
            border-color: #00c8c8;
        }
    }
}